body {
  font-family: Arial, sans-serif;
  background-color: #90c2c5;
}
header,
footer {
  background-color: #333;
  color: #fff;
  padding: 0.7em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  color: #333;
  text-decoration: none;
  padding: 0.5em 0.5em;
}
nav a:hover {
  background-color: rgb(86, 159, 179);
  color: #333;
}
main {
  padding: 0.5em;
}
